<section class="article-main">
    <div class="article-main__wrapper">
        <div class="article-main__content">
            <div class="article-main__content-section">
                <h2 class="article-main__content-title">The Dress</h2>
                <p class="article-main__content-phrase">
                    It’s a tricky thing, being a wedding guest. 
                    <br><br>
                    Among the endless list of requirements – buy a present, arrange accommodation, practise your small talk – there’s one obligation that trumps them all in terms of effort: fix up and look sharp.
                    <br><br>
                    The rules surrounding wedding guest dressing are as nuanced as they come.
                    <br><br>
                    There are some obvious musts – avoiding white is always a good idea – and others that are only acknowledged by serial wedding-goers, such as steering clear of stilettos unless you enjoy the feeling of numbness in your feet.
                    <br><br>
                    In the summer, things get even more complicated. Not only do you have to find a sweat-free way to “dress to the nines”, but you have to strike the right balance between playful sunshine garb and formal occasionwear. This forces you to ask difficult questions, such as “Is this wrap dress more ‘I do’ or ‘BBQ?’” and “Does this hat make me look like a chic French woman, or a dishevelled bird?”
                    <br><br>
                    It’s no mean feat, so here’s our handy guide to summer wedding guest dressing, with tips from industry experts on the trends and colours you need to know about this season .
                    <br><br>
                </p>

            </div>

            <div class="article-main__image-wrapper">
                <img class="article-main__image" src="./img/article/article-dress.webp" alt="">
            </div>

            <div class="article-main__content-section">
                <h2 class="article-main__content-title">The Dress</h2>
                <p class="article-main__content-phrase">
                    It’s a tricky thing, being a wedding guest. 
                    <br><br>
                    Among the endless list of requirements – buy a present, arrange accommodation, practise your small talk – there’s one obligation that trumps them all in terms of effort: fix up and look sharp.
                    <br><br>
                    The rules surrounding wedding guest dressing are as nuanced as they come.
                    <br><br>
                    There are some obvious musts – avoiding white is always a good idea – and others that are only acknowledged by serial wedding-goers, such as steering clear of stilettos unless you enjoy the feeling of numbness in your feet.
                    <br><br>
                    In the summer, things get even more complicated. Not only do you have to find a sweat-free way to “dress to the nines”, but you have to strike the right balance between playful sunshine garb and formal occasionwear. This forces you to ask difficult questions, such as “Is this wrap dress more ‘I do’ or ‘BBQ?’” and “Does this hat make me look like a chic French woman, or a dishevelled bird?”
                    <br><br>
                    It’s no mean feat, so here’s our handy guide to summer wedding guest dressing, with tips from industry experts on the trends and colours you need to know about this season .
                    <br><br>
                </p>
                <p class="article-main__content-phrase">
                    It’s a tricky thing, being a wedding guest. 
                    <br><br>
                    Among the endless list of requirements – buy a present, arrange accommodation, practise your small talk – there’s one obligation that trumps them all in terms of effort: fix up and look sharp.
                    <br><br>
                    The rules surrounding wedding guest dressing are as nuanced as they come.
                    <br><br>
                    There are some obvious musts – avoiding white is always a good idea – and others that are only acknowledged by serial wedding-goers, such as steering clear of stilettos unless you enjoy the feeling of numbness in your feet.
                    <br><br>
                    In the summer, things get even more complicated. Not only do you have to find a sweat-free way to “dress to the nines”, but you have to strike the right balance between playful sunshine garb and formal occasionwear. This forces you to ask difficult questions, such as “Is this wrap dress more ‘I do’ or ‘BBQ?’” and “Does this hat make me look like a chic French woman, or a dishevelled bird?”
                    <br><br>
                    It’s no mean feat, so here’s our handy guide to summer wedding guest dressing, with tips from industry experts on the trends and colours you need to know about this season .
                    <br><br>
                </p>
                    
            </div>

        </div>

        <div class="article-main__sidelane">
            <div class="article-main__sidelane-image-wrapper">
                <img class="article-main__sidelane-image" src="./img/article/article-add-1.webp" alt="">
            </div>

            <div class="article-main__sidelane-image-wrapper">
                <img class="article-main__sidelane-image" src="./img/article/article-add-2.webp" alt="">
            </div>
        </div>
    </div>
</section>