<section class="article-hero">
    <div class="article-hero__wrapper">
        <p class="article-hero__breadcrumbs">Home / Womens Dress / Angels malu</p>
        <div class="article-hero__image-wrapper">
            <img class="article-hero__image" src="./img/article/article-hero-bg.webp" alt="">
            <p class="article-hero__image-phrase">WHAT TO WEAR TO A SUMMER WEDDING THIS YEAR?</p>
        </div>
    </div>
</section>