<section class="article-featured">
  <div class="article-featured__wrapper">
    <div class="article-featured__headline">
      <h2 class="article-featured__title">You may also like</h2>
      <div class="article-featured__pagination">
        <div class="article-featured-prev"></div>
        <div class="article-featured-next"></div>
      </div>
    </div>

    <div class="swiper article-featured__slider">
      <div class="swiper-wrapper article-featured__items"></div>
    </div>
  </div>
</section>