<section class="profile__section address" data-page="address">

  <h2 class="profile-address-title --top">Contact Information</h2>

  <form class="profile-address-form" id="profile-address-form">

    <div class="checkout__field">
      <label>First Name <span>*</span></label>
      <input type="text" name="firstName" required />
    </div>

    <div class="checkout__field">
      <label>Last Name <span>*</span></label>
      <input type="text" name="lastName" required />
    </div>

    <div class="checkout__field">
      <label>Company</label>
      <input type="text" name="company" />
    </div>

    <div class="checkout__field">
      <label>Phone Number <span>*</span></label>
      <input type="text" name="phone" required />
    </div>

    <div class="checkout__field">
      <label>Fax</label>
      <input type="text" name="fax" />
    </div>

    <h2 class="profile-address-title --bottom">Address</h2>

    <div class="checkout__field street">
      <label>Street Address <span>*</span></label>
      <div class="profile-address-street-wrapper">
        <input type="text" name="street1" required />
        <input type="text" name="street2" />
      </div>

    </div>

    <div class="checkout__field">
      <label>Country <span>*</span></label>
      <div class="cart-select checkout-select" data-select="country">
        <div class="cart-select__selected">United States</div>
        <div class="cart-select__dropdown"></div>
      </div>
    </div>

    <div class="checkout__field">
      <label>State/Province <span>*</span></label>
      <div class="cart-select checkout-select" data-select="state">
        <div class="cart-select__selected">Select state</div>
        <div class="cart-select__dropdown"></div>
      </div>
    </div>

    <div class="checkout__field">
      <label>Zip/Postal Code <span>*</span></label>
      <input type="text" name="zip" required />
    </div>

    <div class="profile-address__btn">
      <button type="submit">Save Address</button>
    </div>

  </form>

</section>