<section class="profile__section favourites" data-page="newsletter">
    <form class="footer__main-form profile-newsletter__form" id="subscribe-form">
        <label for="subscribe-email">Subscribe to our newsletters</label>
        <div class="footer__form-group">
        <input 
            type="email" 
            id="subscribe-email"
            name="email"
            placeholder="Email Address"
            required
        >
        <button class="profile-newsletter__btn" type="submit">Subscribe!</button>
        </div>
    </form>
</section>