<aside class="profile-sidebar">
  <nav class="profile-sidebar__nav">
    <ul class="profile-sidebar__list">
      <li>
        <a href="./profile.html" class="profile-sidebar__btn" data-page="profile">
          Account Dashboard
        </a>
      </li>
      <li>
        <a href="./account.html" class="profile-sidebar__btn" data-page="account">
          Account Information
        </a>
      </li>
      <li>
        <a href="./address.html" class="profile-sidebar__btn" data-page="address">
          Address Book
        </a>
      </li>
      <li>
        <a href="./orders.html" class="profile-sidebar__btn" data-page="orders">
          My Orders
        </a>
      </li>
      <li>
        <a href="./favourites.html" class="profile-sidebar__btn" data-page="favourites">
          My Wishlist
        </a>
      </li>
      <li>
        <a href="./newsletter.html" class="profile-sidebar__btn" data-page="subscriptions">
          Newsletter Subscriptions
        </a>
      </li>
      <li>
        <button class="profile-sidebar__btn signout">
          Sign Out
        </button>
      </li>
    </ul>
  </nav>
</aside>