<section class="profile__section favourites" data-page="favourites">

  <div class="profile-favourites__list" id="profile-favourites-list">
  </div>
  <div class="profile-favourites__buttons">
    <button class="profile-favourites__button" type="button">share wish list</button>
    <button class="profile-favourites__button" type="button">update wish list</button>
    <button class="profile-favourites__button" data-type="add" type="button">Add all to cart</button>
  </div>
</section>