<section class="product-featured">
  <div class="product-featured__wrapper">
    <div class="product-featured__headline">
      <h2 class="product-featured__title">You May Also Like</h2>
      <div class="product-featured__pagination">
        <div class="product-featured-prev"></div>
        <div class="product-featured-next"></div>
      </div>
    </div>

    <div class="swiper product-featured__slider">
      <div class="swiper-wrapper product-featured__items"></div>
    </div>
  </div>
</section>