<div class="products-banner">
    <div class="products-banner__wrapper">
        <div class="products-banner__img-wrapper">
            <div class="products-banner__img-gradient">

            </div>
            <img class="products-banner__img" src="./img/products/banner/products-banner.webp" />
        </div>
        <div class="products-banner__content">
            <h2 class="products-banner__headline">Shoping without limits.</h2>
            <p class="products-banner__phrase">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>

            {{> components/order-btn 
            order-btn-class="products-banner__order-btn" 
            order-btn-linkTo="shop" 
            order-btn-text="SHOP NOW"
            }}
        </div>
    </div>
</div>