@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.products-hero {
    // height: 487px;
    width: 100%;
    padding: 0 20px;
    position: relative;
    margin-top: 130px;
    margin-bottom: 33px;

    aspect-ratio: 1878 / 467;
    max-height: 467px;
    
        &__wrapper {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
            @include respond-to(lg) {
                justify-content: center;
            }
            @include respond-to(sm) {
                min-height: 170px;
            }
        }
    &__img {
        right: 0;
        position: absolute;
        height: 100%;
        z-index: -1;
        // width: 100%;
        max-width: 857px;
            @include respond-to(sm) {
                width: 100%;
                object-fit: cover;
            }
            &-wrapper {
                position: absolute;
                inset: 0;

            }

            &-gradient {
                position: absolute;
                width: 80%;
                height: 100%;
                background: linear-gradient(90deg, rgb(246, 248, 252, 1) 0%, rgb(246, 248, 252, 1) 45%, rgb(245, 247, 250, 1) 74%, rgb(243, 239, 238, 0) 100%);
                z-index: 0;
            }
    }

    &__content {
        position: relative;
        z-index: 10;
        width: fit-content;
        margin-left: 249px;
        padding: 0px 20px 0px;
            @include respond-to(lg) {
                margin-left: unset;
            }
            @include respond-to(sm) {
                padding: 5px;
                width: 100%;
            }
    }

    &__headline {
        position: relative;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 56px;
        margin-bottom: 17px;
        margin-top: 14px;
        text-transform: uppercase;

            @include respond-to(lg) {
                font-size: 24px;
            }
            @include respond-to(md) {
                font-size: 20px;
            }
            @include respond-to(sm) {
                font-size: 12px;
                margin-bottom: 6px;
                width: 140px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 90%;
                height: 2px;
                right: 0;
                top: -5px;
                background-color: black;
            }
            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 120%;
                right: 0;
                top: -5px;
                background-color: black;
            }
    }

    &__phrase {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 25px;
        margin-bottom: 29px;
        max-width: 639px;
        opacity: 0.9;
        line-height: 39px;
        letter-spacing: 0.1px;
            @include respond-to(lg) {
                font-size: 18px;
            }
            @include respond-to(md) {
                font-size: 16px;
                line-height: 18px;
            }
            @include respond-to(sm) {
                font-size: 10px;
                line-height: unset;
                margin-bottom: 12px;
                max-width: 220px;
            }
    }
}