<footer class="footer" id="footer">
    <div class="footer__wrapper">
        <div class="footer__header">
            <ul class="footer__header-list">
                <li class="footer__header-item">
                    <div class="footer__header-icon"></div>
                    <p class="footer__header-phrase">Duties and Taxes Guaranteed</p>
                </li>
                <li class="footer__header-item">
                    <div class="footer__header-icon"></div>
                    <p class="footer__header-phrase">Free Express Shipping</p>
                </li>
                <li class="footer__header-item">
                    <div class="footer__header-icon"></div>
                    <p class="footer__header-phrase">Customer Love</p>
                </li>
                <li class="footer__header-item">
                    <div class="footer__header-icon"></div>
                    <p class="footer__header-phrase">Easy Returns</p>
                </li>
                <li class="footer__header-item">
                    <div class="footer__header-icon"></div>
                    <p class="footer__header-phrase">Secure Payment</p>
                </li>
            </ul>
        </div>

        <div class="footer__main">
            <a class="footer__main-link-logo" href="./">            
                <svg class="footer__main-logo">
                    <use href="#icon-crisp_logo"></use>
                </svg>
            </a>


            <div class="footer__main-section">
                <h3 class="footer__main-title">Features</h3>
                
                <ul class="footer__main-list">
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Men</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Woman</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Boys</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Girls</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">New Arrivals</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Shoes</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Cothes</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Accessories</a>
                    </li>
                
                </ul>
            </div>

            <div class="footer__main-section">
                <h3 class="footer__main-title">Menu</h3>
                
                <ul class="footer__main-list menu">
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">About Us</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Contact Us</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">My account</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Orders History</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">My wishlist</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Blog</a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">Login</a>
                    </li>

                </ul>
            </div>

            <div class="footer__main-section">
                <h3 class="footer__main-title">Contact Us</h3>
                
                <ul class="footer__main-list--contact">
                    <li class="footer__main-item">
                        <p class="footer__main-contact-title">Address:</p>
                        <p class="footer__main-contact-phrase">123 STREET NAME, CITY, ENGLAND</p>
                    </li>
                    <li class="footer__main-item">
                        <p class="footer__main-contact-title">Phone:</p>
                        <p class="footer__main-contact-phrase">(123) 456-7890</p>
                    </li>
                    <li class="footer__main-item">
                        <p class="footer__main-contact-title">Email:</p>
                        <p class="footer__main-contact-phrase">MAIL@EXAMPLE.COM</p>
                    </li>
                    <li class="footer__main-item">
                        <p class="footer__main-contact-title">Working days/hours:</p>
                        <p class="footer__main-contact-phrase">MON - SUN / 9:00AM - 8:00PM</p>
                    </li>
                </ul>
            </div>

            <div class="footer__main-section">
                <h3 class="footer__main-title">Follow Us</h3>
                
                <ul class="footer__main-list--socials">
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">
                            <svg class="footer__main-icon">
                                <use href="#icon-crisp_footer_facebook"></use>
                            </svg>
                            <p>FACEBOOK</p>
                        </a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">
                            <svg class="footer__main-icon">
                                <use href="#icon-crisp_footer_twitter"></use>
                            </svg>
                            <p>TWITTER</p>
                        </a>
                    </li>
                    <li class="footer__main-item">
                        <a class="footer__main-link" href="">
                            <svg class="footer__main-icon">
                                <use href="#icon-crisp_footer_instagram"></use>
                            </svg>
                            <p>INSTAGRAM</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__main-section">
                <h3 class="footer__main-title">Join Us</h3>
                
                <form class="footer__main-form" id="subscribe-form">
                    <label for="subscribe-email">Subscribe to our newsletters</label>
                    <div class="footer__form-group">
                    <input 
                        type="email" 
                        id="subscribe-email"
                        name="email"
                        placeholder="Email Address"
                        required
                    >
                    <button type="submit">Subscribe!</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="footer__footer">
            <p class="footer__footer-phrase">© 2019. Crisp theme Developed by Belvg</p>
        </div>
    </div>
</footer>