<header class="header">
    <div class="header__wrapper">
        <a class="header__logo-link" href="./">            
            <svg class="header__logo">
                <use href="#icon-crisp_logo"></use>
            </svg>
        </a> 

        <div class="header__section">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__nav-link" href="./" data-page="main">Home</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="./products.html" data-page="products">Shop</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="./article.html" data-page="article">Blog</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#sale">Sale</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#footer">Contact us</a>
                </li>
                <li class="header__nav-item">
                    <form class="header__nav-form" id="search-form">
                        <label for="search">
                            <svg class="header__nav-form-icon">
                                <use href="#icon-crisp_lens"></use>
                            </svg>
                        </label>
                        <input 
                            type="text" 
                            id="search"
                            name="search"
                            placeholder="SEARCH"
                        >
                    </form>
                </li>
            </ul>
        </div>

        <div class="header__section">
            <div class="header__auth">
                <a class="header__auth-link" href="./login.html">Sign In</a>
                <a class="header__auth-link" href="./register.html">Create an account</a>
                <a class="header__auth-link profile" href="./profile.html">My Profile</a>
            </div>

            <div class="header__user-content">
                <div class="header__favourite">
                    <svg class="header__favourite-icon">
                        <use href="#icon-crisp_heart-outline"></use>
                    </svg>
                </div>

                <div class="header__cart">
                    <svg class="header__cart-icon">
                        <use href="#icon-crisp_cart"></use>
                    </svg>
                    <div class="header__cart-stats">
                        <p class="header__cart-phrase">Shopping Cart</p>
                        <p class="header__cart-price">0,00 EUR</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="header__burger-open"></button>
    </div>
</header>