<section class="login">
  <div class="login__wrapper">
    <p class="login__breadcrumbs">Home / Customer Login</p>
    <h1 class="login__title">Customer Login</h1>

    <form class="login__form" id="login-form">
      <div class="login__form-wrapper">
        <div class="login__field">
          <label class="login__label" for="email">Email <span>*</span></label>
          <input
            class="login__input"
            type="email"
            id="email"
            name="email"
            placeholder="example@email.com"
            required
          />
        </div>

        <div class="login__field">
          <label class="login__label" for="password">Password <span>*</span></label>
          <input
            class="login__input"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>

        <div class="login__actions">
          <button type="submit" class="login__submit">Login</button>
          <a href="./register.html" class="login__back">Create Account</a>
        </div>
      </div>
    </form>
  </div>
</section>