@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;


.main-brand {
    padding: 0 20px;
    position: relative;
        @include respond-to(sm) {
            padding: 0;
        }
    &__banner {
        position: relative;
        margin-bottom: 30px;
        &-wrapper {
            position: relative;
            border: 2px solid #C4C4C4;
            padding: 32px 11px;
            padding-top: 23px;

            overflow: hidden;
            @include respond-to(sm) {
                padding-top: 20px;
                padding-bottom: 10px;
                }
        }
        &-title {
            position: absolute;
            left: 50%;
            top: -23px;
            transform: translate(-50%,0);
            width: 370px;
            height: 45px;
            text-align: center;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 20;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 24px;
            text-transform: uppercase;
                @include respond-to(sm) {
                    width: 200px;
                    font-size: 14px;
                }
        }
        &-track {
            display: flex;
            // gap: 35px;
            width: max-content;
            animation: banner-scroll 20s linear infinite;
            will-change: transform;
        }
        &-lane {
            display: flex;
            gap: 35px;
            width: max-content;
            margin-right: 35px;
        }
        &-item {
            // max-width: 235px;
            width: 235px;
            height: 141px;
                @include respond-to(sm) {
                width: 150px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                }
                @include respond-to(xxs) {
                width: 120px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                }
                svg {
                    display: block;
                    margin: 0 auto;
                        @include respond-to(sm) {
                        width: 90px !important;
                        height: 40px !important;
                        }
                }
                &.chanel {
                    svg {
                    width: 142px;

                    }
                }
                &.burberry {
                    background-color: #F0F2F2;
                    svg {
                    width: 168px;
                    }
                }
                &.dior {
                    svg {
                    width: 88px;
                    }
                }
                &.fendi {
                    svg {
                    width: 101px;
                    }
                }
                &.versage {
                    svg {
                    width: 135px;
                    }
                }
                &.gucci {
                    svg {
                    width: 125px;
                    }
                }
                &.armani {
                    svg {
                    width: 169px;
                    }
                }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 30px;
            @include respond-to(md) {
                gap: 8px;
            }
        &-mini {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: calc(50% - 15px);
                @include respond-to(md) {
                    gap: 8px;
                }
                &-wrapper {
                    &.mini-1 {
                        display: flex;
                        gap: 43px;
                        height: 432px;
                        background: linear-gradient(
                        90deg,
                        rgba(241, 239, 240, 0) 0%,
                        rgba(241, 240, 240, 1) 11%,
                        rgba(243, 240, 239, 1) 100%
                        );
                            @include respond-to(lg) {
                                background-color: #F3F1F0;
                            }
                            @include respond-to(lg) {
                                flex-direction: column;
                                gap: 12px;
                                height: unset;
                                padding: 10px;
                            }
                        & .main-brand__content-mini-inner {

                        // clip-path: inset(0px -150px 0px 0);
                        }
                        & .main-brand__content-mini-inner {
                            padding-top: 82px;
                            padding-left: 112px;
                            right: 162px;
                            position: absolute;
                                @include respond-to(lg) {
                                    right: 50px;
                                    padding: unset;
                                    align-self: center;
                                    padding-left: 10px;
                                }
                                @include respond-to(lg) {
                                    right: unset;
                                    position: relative;
                                }
                        }
                        & .main-brand__content-headline {
                            max-width: 221px;
                            line-height: 62px;
                            margin-bottom: 11px;
                        }
                        & .main-brand__content-phrase {
                            letter-spacing: -0.85px;
                            margin-bottom: 46px;
                                @include respond-to(sm) {
                                    margin-bottom: 16px;
                                }
                        }
                    }

                    &.mini-2 {
                        display: flex;
                        flex-direction: row-reverse;
                        background-color: #F2D5D1;
                        height: 432px;
                            @include respond-to(lg) {
                                flex-direction: column;
                                height: unset;
                                padding: 10px;
                            }
                        & .main-brand__content-mini-inner {
                            padding-top: 115px;
                            padding-left: 94px;
                            flex: 1;
                                @include respond-to(lg) {
                                    padding: unset;
                                    position: relative;
                                }
                        }
                        & .main-brand__content-phrase {
                            margin-bottom: 42px;
                        }
                    }
                }

                &-inner {
                    // flex: 1;
                    z-index: 1;
                }

        }
        &-big {
            position: relative;
            width: calc(50% - 15px);
            background-color: #E0DDD5;
                @include respond-to(lg) {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 10px;
                    height: unset;
                    justify-content: center;
                    align-items: center;
                }
            .main-brand__content-inner {
                padding-left: 86px;
                position: absolute;
                bottom: 0;
                padding-bottom: 98px;
                    @include respond-to(lg) {
                        padding: 10px;
                        position: relative;
                    }
            }
            .main-brand__content-headline {
                font-size: 96px;
                max-width: 357px;
                line-height: 110px;
                    @include respond-to(lg) {
                        font-size: 32px;
                        line-height: 34px;
                    }
                    @include respond-to(sm) {
                        font-size: 20px;
                        line-height: 22px;
                    }
            }
            
            .main-brand__content-phrase {
                font-size: 25px;
                letter-spacing: 0px;
                margin-bottom: 48px;
                    @include respond-to(lg) {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }
            }
        }


        &-img {
            width: 100%;
            // position: absolute;
            object-fit: contain;
            caret-color: transparent;
            &.img-1 {
                max-width: 448px;
            }
            &.img-2 {
                max-width: 557px;
            }
            &.img-3 {
                max-width: 839px;                    
                height: 100%;
                    @include respond-to(md) {
                            height: unset;
                        }
            }
            &-wrapper {
                width: 100%;
                &.img-1 {
                    max-width: 448px;
                    z-index: -0;
                    height: -webkit-fill-available;
                    position: absolute;
                        @include respond-to(lg) {
                            position: relative;
                            height: fit-content;
                            margin: 0 auto;
                        }
                }
                &.img-2 {
                    max-width: 557px;
                    z-index: -0;
                    height: -webkit-fill-available;
                    position: absolute;
                        @include respond-to(lg) {
                            position: relative;
                            height: fit-content;
                            margin: 0 auto;
                        }
                }
                &.img-3 {
                    max-width: 839px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                        @include respond-to(lg) {
                            position: relative;
                            height: fit-content;
                            margin: 0 auto;
                        }
                }
            }
        }

        &-headline {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-semibold;
            font-size: 48px;
            margin-bottom: 5px;
            text-transform: uppercase;
                @include respond-to(md) {
                    line-height: 22px !important;
                    font-size: 16px;
                }
        }

        &-phrase {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-regular;
            font-size: 24px;
            margin-bottom: 50px;
            letter-spacing: -0.8px
        }
    }
}