@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.main-products {
    margin-right: auto;
    padding: 0 20px;
    margin-top: 33px;
    margin-bottom: 60px;
    max-width: 2200px;
    margin-left: auto;
    &__wrapper {
        display: flex;
        justify-content: space-between;
            @include respond-to(md) {
                flex-direction: column;
                gap: 18px;
            }
    }

    &__filters {
        width: fit-content;

        &-title {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 24px;
            margin-bottom: 28px;
            margin-top: 10px;
        }
        &-list {
            width: 177px;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        &-item {
            display: flex;
            gap: 9px;
            align-items: center;
            caret-color: transparent;
            cursor: pointer;
            width: fit-content;
        }
        &-checkbox {
            position: relative;
            width: 10px;
            height: 10px;
            border: 1px solid #828282;
                &.active {
                    border: none;
                    background-color: black;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 6px;
                        height: 4.5px;
                        border-top: 1px solid white;
                        border-right: 1px solid white;
                        transform: rotate(135deg) translate(-10%, 100%);
                        top: 50%;
                        left: 50%;

                    }
                }
        }

        &-phrase {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-regular;
            font-size: 14px;
            text-transform: uppercase;
        }
    }


    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 26px;
        row-gap: 42px;
        align-items: stretch;
        min-height: 700px;
            @include respond-to(md) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include respond-to(xs) {
                grid-template-columns: 1fr;
            }
        &-wrapper {
        position: relative;
        flex: 1;
        max-width: 1484px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
            @include respond-to(md) {
                padding-left: 0;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 1px;
                height: 101%;
                background-color: #C4C4C4;
                left: 0px;
                    @include respond-to(md) {
                        content: unset;
                    }
            }
        }
    }

    &__loadmore {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        width: 140px;
        height: 50px;
        color: #828282;
        border: 2px solid #C4C4C4;
        margin-top: 56px;
        letter-spacing: 0.45px;
        cursor: pointer;
    }
}