@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.main-banner-2 {
    padding: 0 20px;
    margin-top: 110px;

    &__wrapper {
        display: flex;
        gap: 100px;
            @include respond-to(lg) {
                flex-direction: column-reverse;
                align-items: center;
                gap: 60px;
            }
            @include respond-to(sm) {
                gap: 20px;
            }
    }

    &__img {
        width: 100%;
        &-wrapper {
        width: 56.4%;
            @include respond-to(lg) {
                width: 100%;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 10;
        width: fit-content;
    }

    &__headline {
        position: relative;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 56px;
        margin-bottom: 29px;
        margin-top: 14px;
        text-transform: uppercase;
            @include respond-to(l) {
                font-size: 46px;
            }
            @include respond-to(sm) {
                font-size: 16px;
                width: fit-content;
                margin-bottom: 8px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 90%;
                height: 2px;
                right: 0;
                top: -14px;
                background-color: black;
                    @include respond-to(sm) {
                        right: -5px;
                    }
            }
            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 120%;
                right: 0;
                top: -14px;
                background-color: black;
                    @include respond-to(sm) {
                        right: -5px;
                    }
            }
    }

    &__phrase {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 25px;
        margin-bottom: 31px;
        max-width: 639px;
        opacity: 0.9;
        line-height: 39px;
        letter-spacing: 0.1px;
            @include respond-to(sm) {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 10px;
            }
    }

    &__order-btn {
        margin-left: -4px;
    }
}