<section class="main-popular" id="sale">
  <div class="main-popular__wrapper">
    <div class="main-popular__headline">
      <h2 class="main-popular__title">Most Popular</h2>
      <div class="main-popular__pagination">
        <div class="main-popular-prev"></div>
        <div class="main-popular-next"></div>
      </div>
    </div>

    <div class="swiper main-popular__slider">
      <div class="swiper-wrapper main-popular__items"></div>
    </div>
  </div>
</section>