<section class="main-brand">
    <div class="main-brand__wrapper">

        <div class="main-brand__banner">
            <div class="main-brand__banner-wrapper">
                
                <div class="main-brand__banner-track">
                    <div class="main-brand__banner-lane">
                        <div class="main-brand__banner-item chanel">
                            <svg>
                                <use href="#icon-crisp_chanel"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item burberry">
                            <svg>
                                <use href="#icon-crisp_burberry"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item dior">
                            <svg>
                                <use href="#icon-crisp_dior"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item fendi">
                            <svg>
                                <use href="#icon-crisp_fendi"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item versage">
                            <svg>
                                <use href="#icon-crisp_versage"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item gucci">
                            <svg>
                                <use href="#icon-crisp_gucci"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item armani">
                            <svg>
                                <use href="#icon-crisp_armani"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="main-brand__banner-lane">
                        <div class="main-brand__banner-item chanel">
                            <svg>
                                <use href="#icon-crisp_chanel"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item burberry">
                            <svg>
                                <use href="#icon-crisp_burberry"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item dior">
                            <svg>
                                <use href="#icon-crisp_dior"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item fendi">
                            <svg>
                                <use href="#icon-crisp_fendi"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item versage">
                            <svg>
                                <use href="#icon-crisp_versage"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item gucci">
                            <svg>
                                <use href="#icon-crisp_gucci"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item armani">
                            <svg>
                                <use href="#icon-crisp_armani"></use>
                            </svg>
                        </div>
                    </div>
                    
                    <div class="main-brand__banner-lane">
                        <div class="main-brand__banner-item chanel">
                            <svg>
                                <use href="#icon-crisp_chanel"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item burberry">
                            <svg>
                                <use href="#icon-crisp_burberry"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item dior">
                            <svg>
                                <use href="#icon-crisp_dior"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item fendi">
                            <svg>
                                <use href="#icon-crisp_fendi"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item versage">
                            <svg>
                                <use href="#icon-crisp_versage"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item gucci">
                            <svg>
                                <use href="#icon-crisp_gucci"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item armani">
                            <svg>
                                <use href="#icon-crisp_armani"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="main-brand__banner-lane">
                        <div class="main-brand__banner-item chanel">
                            <svg>
                                <use href="#icon-crisp_chanel"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item burberry">
                            <svg>
                                <use href="#icon-crisp_burberry"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item dior">
                            <svg>
                                <use href="#icon-crisp_dior"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item fendi">
                            <svg>
                                <use href="#icon-crisp_fendi"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item versage">
                            <svg>
                                <use href="#icon-crisp_versage"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item gucci">
                            <svg>
                                <use href="#icon-crisp_gucci"></use>
                            </svg>
                        </div>
                        <div class="main-brand__banner-item armani">
                            <svg>
                                <use href="#icon-crisp_armani"></use>
                            </svg>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>


    <div class="main-brand__content">
        
        <div class="main-brand__content-mini">
            <div class="main-brand__content-mini-wrapper mini-1">
                <div class="main-brand__content-img-wrapper img-1">
                    <img class="main-brand__content-img img-1" src="./img/main/brand/main-brand-1.webp" />
                </div>
                <div class="main-brand__content-mini-inner">
                    <h2 class="main-brand__content-headline">Choosе your look</h2>
                    <p class="main-brand__content-phrase">See our clothing collections</p>

                    {{> components/order-btn 
                    order-btn-class="main-brand-order-btn" 
                    order-btn-linkTo="shop" 
                    order-btn-text="SEE OFFERS"
                    }}
                </div>


            </div>

            <div class="main-brand__content-mini-wrapper mini-2">
                <div class="main-brand__content-img-wrapper img-2">
                    <img class="main-brand__content-img img-2" src="./img/main/brand/main-brand-2.webp" />
                </div>

                <div class="main-brand__content-mini-inner">
                    <h2 class="main-brand__content-headline">Brand new style</h2>
                    <p class="main-brand__content-phrase">Popular clothing brands</p>

                    {{> components/order-btn 
                    order-btn-class="main-brand-order-btn" 
                    order-btn-linkTo="shop" 
                    order-btn-text="SEE OFFERS"
                    }}
                </div>

            </div>
        </div>

        <div class="main-brand__content-big">
            <div class="main-brand__content-img-wrapper img-3">
                <img class="main-brand__content-img img-3" src="./img/main/brand/main-brand-3.webp" />
            </div>

                <div class="main-brand__content-inner">
                    <h2 class="main-brand__content-headline">Up to 40% off</h2>
                    <p class="main-brand__content-phrase">Special offers and great deals</p>

                    {{> components/order-btn 
                    order-btn-class="main-brand-order-btn" 
                    order-btn-linkTo="shop" 
                    order-btn-text="SHOP NOW"
                    }}
                </div>
        </div>
    </div>

    </div>
</section>