<section class="main-banner-1">
    <div class="main-banner-1__wrapper">
        <div class="main-banner-1__img-wrapper">
            <div class="main-banner-1__img-gradient">

            </div>
            <img class="main-banner-1__img" src="./img/main/banner/main-banner-1.webp" />
        </div>
        <div class="main-banner-1__content">
            <h2 class="main-banner-1__headline">Shoping without limits.</h2>
            <p class="main-banner-1__phrase">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>

            {{> components/order-btn 
            order-btn-class="main-banner-1__order-btn" 
            order-btn-linkTo="shop" 
            order-btn-text="SHOP NOW"
            }}
        </div>
    </div>
</section>