<section class="main-hero">
    <div class="main-hero__wrapper">

        <div class="main-hero__content-wrapper">
            <div class="main-hero__headline-wrapper">
                <h1 class="main-hero__headline-title">SUMMER SALE GET <span class="main-hero__headline-span">30% OFF</span> ON ALL DRESS.</h1>
                {{> components/order-btn 
                    order-btn-class="main-hero__order-btn" 
                    order-btn-linkTo="shop" 
                    order-btn-text="SHOP NOW"
                }}
            </div>

            <div class="main-hero__swiper swiper">
                <div class="main-hero__swiper-wrapper swiper-wrapper">

                    <div class="main-hero__swiper-slide swiper-slide">
                        <img src="./img/main/hero/crisp_main-hero-slider-1.webp" />
                    </div>

                    <div class="main-hero__swiper-slide swiper-slide">
                        <img src="./img/main/hero/crisp_main-hero-slider-2.webp" />
                    </div>

                    <div class="main-hero__swiper-slide swiper-slide">
                        <img src="./img/main/hero/crisp_main-hero-slider-1.webp" />
                    </div>

                    <div class="main-hero__swiper-slide swiper-slide">
                        <img src="./img/main/hero/crisp_main-hero-slider-2.webp" />
                    </div>

                </div>


            </div>


            <div class="main-hero__swiper-pagination">
                <button class="swiper-button-prev"></button>
                <button class="swiper-button-next"></button>
            </div>

            <div class="main-hero__swiper-navigation swiper-pagination">
                <div class="main-hero__swiper-navigation-item"></div>
                <div class="main-hero__swiper-navigation-item"></div>
                <div class="main-hero__swiper-navigation-item"></div>
                <div class="main-hero__swiper-navigation-item"></div>
            </div>
        </div>


        <img src="./img/main/hero/crisp_main-hero-bg.webp" alt="hero-bg" loading="lazy" class="main-hero__img-bg">
    </div>
</section>