<section class="main-products">
    <div class="main-products__wrapper">
        <div class="main-products__filters">
            <h2 class="main-products__filters-title">Shop Some Wear:</h2>
            <ul class="main-products__filters-list">
                <li class="main-products__filters-item" data-filter="best">
                    <div class="main-products__filters-checkbox"></div><p class="main-products__filters-phrase">Best sellers</p>
                </li>
                <li class="main-products__filters-item" data-filter="new">
                    <div class="main-products__filters-checkbox"></div><p class="main-products__filters-phrase">New arivals</p>
                </li>
                <li class="main-products__filters-item" data-filter="top">
                    <div class="main-products__filters-checkbox"></div><p class="main-products__filters-phrase">Top woman</p>
                </li>
                <li class="main-products__filters-item" data-filter="summer">
                    <div class="main-products__filters-checkbox"></div><p class="main-products__filters-phrase">Collection: Summer</p>
                </li>
                <li class="main-products__filters-item" data-filter="spring"> 
                    <div class="main-products__filters-checkbox"></div><p class="main-products__filters-phrase">Collection: spring</p>
                </li>
                <li class="main-products__filters-item" data-filter="trending">
                    <div class="main-products__filters-checkbox"></div><p class="main-products__filters-phrase">Trending</p>
                </li>
            </ul>
        </div>

        <div class="main-products__list-wrapper">
            <div class="main-products__list">

            </div>
            <button class="main-products__loadmore" type="button">Load more</button>
        </div>

    </div>
</section>