<section class="main-article">
    <div class="main-article__wrapper">
        <h2 class="main-article__headline">Blog</h2>
        <div class="main-article__list">

            <div class="main-article__card">
                <a href="./article.html">
                    <div>
                        <h3 class="main-article-tag">Article</h3>
                        <p class="main-article-title">Exactly What To Wear To Every Type Of Wedding This Summer</p>
                        <p class="main-article-description">A large part of the business here is building up the "experience". Double-page spreads in magazines. Ads on TV. Product placement and sponsorship in golf tournaments, tennis matches and sailing competitions. All of this builds up your perception of the brand - and additionally, it costs money.</p>
                    </div>
                    <p class="main-article-createdby">21 January 2018 by guido</p>
                </a>
            </div>

            <div class="main-article__card">
                <a href="./article.html">
                    <div>
                        <h3 class="main-article-tag">Tips</h3>
                        <p class="main-article-title">Exactly What To Wear To Every Type Of Wedding This Summer</p>
                        <p class="main-article-description">When selling 70% fewer shirts, however, there are fewer shirts on the market, making it more exclusive, and therefore worth the money, for those to whom it matters. </p>
                    </div>
                    <p class="main-article-createdby">21 January 2018 by guido</p>
                </a>
            </div>

            <div class="main-article__card">
                <a href="./article.html">
                    <div>
                        <h3 class="main-article-tag">Tips</h3>
                        <p class="main-article-title">Exactly What To Wear To Every Type Of Wedding This Summer</p>
                        <p class="main-article-description">A large part of the business here is building up the "experience". Double-page spreads in magazines. Ads on TV. Product placement and sponsorship in golf tournaments, tennis matches and sailing competitions. All of this builds up your perception of the brand - and additionally, it costs money.</p>
                    </div>
                    <p class="main-article-createdby">21 January 2018 by guido</p>
                </a>
            </div>

            <div class="main-article__card">
                <a href="./article.html">
                    <div>
                        <h3 class="main-article-tag">Article</h3>
                        <p class="main-article-title">Exactly What To Wear To Every Type Of Wedding This Summer</p>
                                                <p class="main-article-description">When selling 70% fewer shirts, however, there are fewer shirts on the market, making it more exclusive, and therefore worth the money, for those to whom it matters. </p>
                    </div>
                    <p class="main-article-createdby">21 January 2018 by guido</p>
                </a>
            </div>
        </div>

    </div>
</section>