<section class="main-banner-2">
    <div class="main-banner-2__wrapper">
        <div class="main-banner-2__img-wrapper">
            <img class="main-banner-2__img" src="./img/main/banner/main-banner-2.webp" />
        </div>
        <div class="main-banner-2__content">
            <h2 class="main-banner-2__headline">EXPLORE THE BEST OF YOU.</h2>
            <p class="main-banner-2__phrase">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco.</p>

            {{> components/order-btn 
            order-btn-class="main-banner-2__order-btn" 
            order-btn-linkTo="shop" 
            order-btn-text="SHOP NOW"
            }}
        </div>
    </div>
</section>