<section class="main-featured">
  <div class="main-featured__wrapper">
    <div class="main-featured__headline">
      <h2 class="main-featured__title">Featured Items</h2>
      <div class="main-featured__pagination">
        <div class="main-featured-prev"></div>
        <div class="main-featured-next"></div>
      </div>
    </div>

    <div class="swiper main-featured__slider">
      <div class="swiper-wrapper main-featured__items"></div>
    </div>
  </div>
</section>